<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game #1</title>
    <link rel="stylesheet" href="css/game_1.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Press+Start+2P|Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">

        var socket = io();

        var name = prompt('Enter you name to play:');

        // Creating the world

        var worldDict = {
            0: 'blank',
            1: 'wall',
            2: 'apple',
            3: 'dots',
            4: 'dotlets'
        };

        function drawWorld(data) {
            var output = "";

            for (var row = 0; row < data.length; row++) {
                output += "<div class = 'row'>"
                for (var x = 0; x < data[row].length; x++) {
                    if (worldDict[data[row][x]] == 'apple') {
                        output += "<div class = '" + worldDict[data[row][x]] + "'><img src='/images/apple.png' height='40px' width='40px'></div>";
                    } else if (worldDict[data[row][x]] == 'dots') {
                        output += "<div class = '" + worldDict[data[row][x]] + "'><img src='/images/dot.png' height='20px' width='20px'></div>";
                    } else if (worldDict[data[row][x]] == 'dotlets') {
                        output += "<div class = '" + worldDict[data[row][x]] + "'><img src='/images/dot.png' height='10px' width='10px'></div>";
                    } else {
                        output += "<div class = '" + worldDict[data[row][x]] + "'></div>";
                    }
                }
                output += "</div>"
            }


            return output;
            console.log('World Created')
        };

        // End of World

        // Create Player

        function drawNinjaman(player) {
            player.top = player.y * 40 + 'px'
            player.left = player.x * 40 + 'px'
        }

        function drawScoreboard(player, ninjas) {
            if (player.name == ninjas[0]) {
                $('#scoreboard1').text(ninjas[0]+"'s score: "+player.score)
            }
            if (player.name == ninjas[1]) {
                $('#scoreboard2').text(ninjas[1]+"'s score: "+player.score)
            }
            if (player.name == ninjas[2]) {
                $('#scoreboard3').text(ninjas[2]+"'s score: "+player.score)
            }
            if (player.name == ninjas[3]) {
                $('#scoreboard4').text(ninjas[3]+"'s score: "+player.score)
            }
        }

        socket.on('build_World', function (worldData) {
            $('#world').html(drawWorld(worldData));
        })
        socket.on('move_Ninja1', function (ninja1, ninjas, move) {
            drawNinjaman(ninja1)
            console.log(ninja1.name, "player 1 moved")
            $('#ninjaman1').css({
                "top": ninja1.top,
                "left": ninja1.left,
            })
            $('#pacman1').attr("class", "ninjaman " + move + "")
            drawScoreboard(ninja1, ninjas)
        })

        socket.on('move_Ninja2', function (ninja2, ninjas, move) {
            drawNinjaman(ninja2)
            console.log(ninja2.name, "player 2 moved")
            $('#ninjaman2').css({
                "top": ninja2.top,
                "left": ninja2.left,
            })
            $('#pacman2').attr("class", "ninjaman " + move + "")
            drawScoreboard(ninja2, ninjas)
        })

        socket.on('move_Ninja3', function (ninja3, ninjas, move) {
            drawNinjaman(ninja3)
            console.log(ninja3.name, "player 3 moved")
            $('#ninjaman3').css({
                "top": ninja3.top,
                "left": ninja3.left,
            })
            $('#pacman3').attr("class", "ninjaman " + move + "")
            drawScoreboard(ninja3, ninjas)
        })
        socket.on('move_Ninja4', function (ninja4, ninjas, move) {
            drawNinjaman(ninja4)
            console.log(ninja4.name, "player 4 moved")
            $('#ninjaman4').css({
                "top": ninja4.top,
                "left": ninja4.left,
            })
            $('#pacman4').attr("class", "ninjaman " + move + "")
            drawScoreboard(ninja4, ninjas)
        })

        $(document).ready(function () {
            socket.emit('user_entered', name)
            socket.on('enter_msg', function (data) {
                $("#msgboard").append('<p class="welcome">' + data + ' has entered the game</p>')
            })
            $('#msgboard').append('<p class="welcome"> Welcome ' + name + '!</p>')
            $('#sub').click(function () {
                socket.emit("sending_msg", { sender: name, msg: $('#msg').val() })
                $('#msg').val('')
            })
            socket.on('all_msgs', function (data) {
                console.log(data)
                if (data.sender == name) {
                    $('.msgboard').append('<p class="me_msg"><span class="color">' + data.sender + ':</span> ' + data.msg + '</p>')
                    $('.msgboard').animate({
                        scrollTop: $('.msgboard').get(0).scrollHeight
                    }, 1000);
                } else {
                    $('.msgboard').append('<p class="other_msg"><span class="color1">' + data.sender + ':</span> ' + data.msg + '</p>')
                    $('.msgboard').animate({
                        scrollTop: $('.msgboard').get(0).scrollHeight
                    }, 1000);
                }
            })

            // Controls

            document.onkeydown = function (e) {
                if (e.keyCode == 37) {
                    console.log(name)
                    console.log('left')
                    socket.emit('left', name)
                }
                if (e.keyCode == 39) {
                    console.log(name)
                    console.log('right')
                    socket.emit('right', name)
                }
                if (e.keyCode == 38) {
                    console.log(name)
                    console.log('up')
                    socket.emit('up', name)

                }
                if (e.keyCode == 40) {
                    console.log(name)
                    console.log('down')
                    socket.emit('down', name)

                }
                // if (world[ninjaman.y][ninjaman.x] == 2) {
                //     ninjaman.score += 10;
                //     console.log(ninjaman.score)
                // }
                // if (world[ninjaman.y][ninjaman.x] == 3) {
                //     ninjaman.score += 5;
                //     console.log(ninjaman.score)
                // }
            }



        })


    </script>
</head>

<body>
    <%- include header.ejs %>
    <div class="container col-12" align="left">


        <div id='world'></div>
        <div id='scoreboard1' class='scoreboard' style='top: 0px; left:0px'>0</div>
        <div id='scoreboard2' class='scoreboard' style='top: 0px; left:1000px'>0</div>
        <div id='scoreboard3' class='scoreboard' style='top: 640px; left:0px'>0</div>
        <div id='scoreboard4' class='scoreboard' style='top: 640px; left:1000px'>0</div>
        <div id='ninjaman1' class='ninjaman'>
            <img id='pacman1' src='/images/pacman.png' height='40px' width='40px'>
        </div>
        <div id='ninjaman2' class='ninjaman'>
            <img id='pacman2' src='/images/pacman.png' height='40px' width='40px'>
        </div>
        <div id='ninjaman3' class='ninjaman'>
            <img id='pacman3' src='/images/pacman.png' height='40px' width='40px'>
        </div>

        <div id='ninjaman4' class='ninjaman'>
            <img id='pacman4' src='/images/pacman.png' height='40px' width='40px'>
        </div>



        <div class="chatroom">
            <div class="msgboard">
                <p id='msgboard'></p>
            </div>
            <div class='form'>
                <input type="text" id="msg">
                <input type="button" class='btn btn-warning' id='sub' value='Send' class='form-control'>
            </div>
        </div>
    </div>
</body>

</html>