<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game #2</title>
    <link rel="stylesheet" href="css/game_2.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Barriecito|Monoton|Press+Start+2P|Turret+Road|Unica+One|VT323&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">

        var socket = io();

        var name = prompt('Enter you name to play:');

        var my_scoreboard = 0;

        $(document).ready(function () {
            socket.emit('user_entered', name)
            socket.on('enter_msg', function (data) {
                $("#msgboard").append('<p class="welcome">' + data + ' has entered the game</p>')
            })
            $('#msgboard').append('<p class="welcome"> Welcome ' + name + '!</p>')
            $('#sub').click(function () {
                socket.emit("sending_msg", { sender: name, msg: $('#msg').val() })
                $('#msg').val('')
            })
            socket.on('all_msgs', function (data) {
                console.log(data)
                if(data.sender == name){
                    $('#msgboard').append('<p><span class="color">' + data.sender + ':</span> ' + data.msg + '</p>')
                }else{
                    $('#msgboard').append('<p><span class="color1">' + data.sender + ':</span> ' + data.msg + '</p>')
                }
            })
            $('#rock').click(function(){
                $('#rock').attr("disabled", true)
                $('#paper').attr("disabled", true)
                $('#scissors').attr("disabled", true)
                socket.emit('push_rock', {player: name, val: 'rock', count: 0})
                $("<p id='rock_msg'>You chose rock. Let's see if you beat your opponent!</p>").hide().appendTo("#world").fadeIn().delay(2000).fadeOut()
            })
            $('#paper').click(function(){
                $('#rock').attr("disabled", true)
                $('#paper').attr("disabled", true)
                $('#scissors').attr("disabled", true)
                socket.emit('push_paper', {player: name, val: 'paper', count: 0})
                $("<p id='paper_msg'>You chose paper. Let's see if you beat your opponent!</p>").hide().appendTo("#world").fadeIn().delay(2000).fadeOut()
            })
            $('#scissors').click(function(){
                $('#rock').attr("disabled", true)
                $('#paper').attr("disabled", true)
                $('#scissors').attr("disabled", true)
                socket.emit('push_scissors', {player: name, val: 'scissors', count: 0})
                $("<p id='scissors_msg'>You chose scissors. Let's see if you beat your opponent!</p>").hide().appendTo("#world").fadeIn().delay(2000).fadeOut()
            })
            socket.on('player_won', function(data){
                $('#rock').attr("disabled", false)
                $('#paper').attr("disabled", false)
                $('#scissors').attr("disabled", false)
                console.log(":"+name +":"+data.winner+":");
                if(name == data.winner){
                    my_scoreboard ++;
                    console.log(my_scoreboard);
                    $("<p id='win'>You WON!</p>").hide().appendTo("#world").delay(3000).fadeIn().delay(2500).fadeOut();
                }else{
                    $("<p id='lose'>You LOST!</p>").hide().appendTo("#world").delay(3000).fadeIn().delay(2500).fadeOut();
                }
            })
            socket.on('tie_game', function(){
                $('#rock').attr("disabled", false)
                $('#paper').attr("disabled", false)
                $('#scissors').attr("disabled", false)
                $("<p>TIE GAME</p>").hide().appendTo("#world").delay(3000).fadeIn().delay(2500).fadeOut();
            })

        })
    </script>
</head>
<body>
    <div class=header><%- include header.ejs %></div>
    <div class="container col-12" align="center"">
        <div id="world">
            
            <button id='rock'><img src="images/rock_png.png" alt=""></button>
            <button id='paper'><img src="images/paper.png" alt=""></button>
            <button id='scissors'><img src="images/scissors_png.png" alt=""></button>
        </div>
        <div class="chatroom">
            <div class="msgboard">
                <p id='msgboard'></p>
            </div>
            <div class='form'>
                <input type="text" id="msg">
                <input type="button" class='btn btn-warning' id='sub' value='Send'>
            </div>
        </div>
    </div>
</body>
</html>