<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game #1</title>
    <link rel="stylesheet" href="game_1.css" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Barriecito|Monoton|Press+Start+2P|Turret+Road|Unica+One|VT323&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">

        var socket = io();

        var name = prompt('Enter you name to play:');

        // Creating the world

        var worldDict = {
            0: 'blank',
            1: 'wall',
            2: 'sushi',
            3: 'onigiri',
        };

        function drawWorld(data) {
            var output = "";

            for (var row = 0; row < data.length; row++) {
                output += "<div class = 'row'>"
                for (var x = 0; x < data[row].length; x++) {
                    output += "<div class = '" + worldDict[data[row][x]] + "')></div>";
                }
                output += "</div>"
            }


            return output;
            console.log('World Created')
        };

        // End of World

        // Create Player

        socket.on('build_World', function (worldData) {
            console.log(worldData);
            $('#world').html(drawWorld(worldData));
            console.log('hello');
        })
        $(document).ready(function () {
            socket.emit('user_entered', name)
            socket.on('enter_msg', function (data) {
                $("#msgboard").append('<p>' + data + ' has entered the game</p>')
            })
            $('#msgboard').append('<p> Welcome ' + name + '!</p>')
            $('#sub').click(function () {
                socket.emit("sending_msg", { sender: name, msg: $('#msg').val() })
                $('#msg').val('')
            })
            socket.on('all_msgs', function (data) {
                console.log(data)
                if(data.sender == name){
                    $('#msgboard').append('<p><span class="color">' + data.sender + ':</span> ' + data.msg + '</p>')
                }else{
                    $('#msgboard').append('<p><span class="color1">' + data.sender + ':</span> ' + data.msg + '</p>')
                }
            })
        })

    </script>
</head>

<body>
    <%- include header.ejs %>
    <div class="container col-12" align="center">
        <div id='world'></div>
        <div class="chatroom">
            <div class="msgboard">
                <p id='msgboard'></p>
            </div>
            <div class='form'>
                <input type="text" id="msg">
                <input type="button" class='btn btn-warning' id='sub' value='Send'>
            </div>
        </div>
    </div>
</body>

</html>