* {
    margin: 0px;
    padding: 0px;
}

.row {
    line-height: 0;
}

.wall {
    background-color: rgb(9, 19, 117);
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('sushi.png');
    background-size: contain;
}

.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('onigiri.png');
    background-size: contain;
}

.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninja.gif');
    background-size: contain;
    position: absolute;
}

.container{
    padding-bottom: 5px;

}
.welcome{
    font-family: 'Unica One', cursive;
    color: rgb(252, 74, 3)
}

.chatroom{
    display: inline-block;
    border: black 1px solid;
    margin-left: 10px;
    height: 680px;
    width: 400px
}

#world{
    vertical-align: top;
    display: inline-block;
}

.msgboard{
    display:inline-block;
    overflow: scroll;
    width: 400px;
    text-align: left;
    height: 600px;
}
.form{
    vertical-align: bottom;
}

.color{
    color: red;
}
.color1{
    color: blue;
}
