.container{
    padding-bottom: 5px;

}
.welcome{
    font-family: 'Exo 2', sans-serif;
    color: rgb(252, 74, 3)
}
.opponent{
    font-family: 'Exo 2', sans-serif;
    color: rgb(9, 19, 117);
}

.chatroom{
    display: inline-block;
    border: black 1px dotted;
    margin-left: 10px;
    height: 680px;
    width: 400px
}

#world{
    vertical-align: top;
    display: inline-block;
    height: 680px;
    width: 1210px;
}

.msgboard{
    display:inline-block;
    width: 400px;
    text-align: left;
    height: 600px;
    padding: 5px;
    overflow-y: scroll;
}
.form{
    vertical-align: bottom;
    width: 300px;
}

.color{
    color: rgb(252, 74, 3);
    font-family: 'Exo 2', sans-serif;

}
.color1{
    color: rgb(9, 19, 117);
    font-family: 'Exo 2', sans-serif;
}

img{
    width: 250px;
}
#world{
    margin-top: 75px;
}

button{
    padding-top: 75px;
    text-decoration: none;
    border: none;
    background-color: white;
}

.other_msg{
    font-style: italic;
    width: 375px;
    max-height: 400px;
}
.me_msg{
    width: 375px;
    max-height: 400px;
}

#score{
    font-family: 'Exo 2', sans-serif;
    text-align: left;
    font-style: bold;
}
