.tron{
    margin-top: 20px;
    text-align: center;
    margin-left: 37%;
    background-color: rgba(252, 74, 3);
    box-shadow: 4px 4px 4px gray;
    border-radius: 10px;
    height: 100px;
    padding-top: 35px;
}

.game_1 {
    text-decoration: none;
}

.tron p{
    color: white;
    font-family: 'Exo 2', sans-serif;
}