.tron{
    margin-top: 10px;
    text-align: center;
    background-color: rgba(252, 74, 3);
    box-shadow: 4px 4px 4px gray;
    border-radius: 10px;
    height: 100px;
    padding-top: 35px;

}
.container{
  background-image: linear-gradient(to bottom right, rgb(9, 3, 48), rgba(18, 39, 158, 0.8));
  height: 100vw;
}
.game_1 {
    text-decoration: none;
}

.tron p{
    color: white;
    font-family: 'Exo 2', sans-serif;
}

.mission_statement{
    text-align: center;
    margin-left: 33%;
    margin-top: 40px;
    font-family: 'Exo 2', sans-serif;
    color: rgb(9, 19, 117);
}

.mission_statement p{
    padding-left: 20px;
}

ul{
    list-style: none;

}
.jumbo {
    margin-top: 200px;
    display:inline-block;
    width:49%;
}

img{
    border-radius: 10px;
}
